stages:
  - build
  - test
  - deploy

image: node:18.20.4

install_dependencies:
  stage: build
  script:
    - yarn install
    - yarn build
  artifacts:
    paths:
      - node_modules
  cache:
    key:
      files:
        - yarn.lock
    paths:
        - node_modules
        
test:
  stage: test
  script:
    - CI = True yarn test

deploy:
  stage: deploy
  script: 
    - cp -r build /var/www/app/$CI_COMMIT_SHA
    - ln -fsnv /www/test/app/$CI_COMMIT_SHA /www/html
    
